/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #2b2828;
  margin: 0;
  padding: 0;
}

/* Header styles */
header {
  background-color: #000000;
  padding: 20px;
  color: #fff;
  text-align: center;
}

/* Styles for the main content */
h1 {
  margin: 0;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Styles for the album header image */
.album-header img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Styles for the album information section */
.album-info {
  margin-bottom: 30px;
}

.album-info h2 {
  margin-top: 0;
  font-size: 24px;
  color: #ffffff;
}

.album-info p {
  margin: 10px 0;
  line-height: 1.4;
  color: #f8f5f5;
}

/* Styles for the album images section */
.album-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

.album-images .image {
  margin: 10px;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.album-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Styles for the album description section */
.album-description {
  margin-bottom: 30px;
}

.album-description h2 {
  margin-top: 0;
  font-size: 24px;
  color: #ffffff;
}

.album-description p {
  margin-bottom: 10px;
  line-height: 1.4;
  color: #ffffff;
}

/* Responsive styles */
@media (max-width: 600px) {
  main {
    padding: 10px;
  }
  
  .album-images .image {
    width: 100%;
  }
}

/* Header styles */
header {
  background-color: #000000;
  padding: 20px;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 10px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
}

/* Footer styles */
footer {
  background-color: #000000;
  padding: 20px 0;
}
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo img {
    height: 40px;
  }
  
  .footer-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .footer-links ul li {
    margin-right: 20px;
  }
  
  .footer-links ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-links ul li a:hover {
    color: #1286f3;
  }
  
  .social-media a {
    display: inline-block;
    margin-left: 10px;
    transition: opacity 0.3s ease;
  }
  
  .social-media a img {
    width: 25px;
    height: 25px;
  }
  
  .social-media a:hover {
    opacity: 0.7;
  }
  

/* Font Awesome Icons */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  color: #fff9f9;
  font-size: 24px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #2b9fff;
}
