/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
  }
  
  /* Header styles */
  header {
    background-color: #000000;
    padding: 20px;
    color: #fff;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 10px;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Song section styles */
  .song-section {
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .song-title {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  .song-description {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .song-details {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .song-detail {
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-size: 14px;
    color: #888;
  }
  
  .song-detail i {
    margin-right: 5px;
  }
  
  .video-container {
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
  }
  
  video {
    width: 100%;
    border-radius: 5px;
  }
  
  .section-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .lyrics {
    font-size: 16px;
    white-space: pre-wrap;
    line-height: 1.5;
  }
  
 
  footer {
    background-color: #000000;
    padding: 20px 0;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo img {
    height: 40px;
  }
  
  .footer-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .footer-links ul li {
    margin-right: 20px;
  }
  
  .footer-links ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-links ul li a:hover {
    color: #1286f3;
  }
  
  .social-media a {
    display: inline-block;
    margin-left: 10px;
    transition: opacity 0.3s ease;
  }
  
  .social-media a img {
    width: 25px;
    height: 25px;
  }
  
  .social-media a:hover {
    opacity: 0.7;
  }
  

/* Font Awesome Icons */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  color: #fff9f9;
  font-size: 24px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #2b9fff;
}
